body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    background: url(../images/city-lights-sunrise-sunset.jpg);
    background-position: center top;
}

#NavPC {
    opacity: 0.9;
}

#myNavBar {
    display: none!important;
}

.lightgrey {
    color: #f1f1f1!important
}

.light-grey {
    color: #000!important;
    background-color: #f1f1f1!important
}
.dark-grey {
    color: #fff!important;
    background-color: #616161!important
}

.img {
    margin: 0;
}

.imgWrap {
    height: 258px;
    position: relative;
    margin: 50px 0 50px 0;
}

.imgDescription {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 116, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidenav to 120px */

.w3-sidenav {
    width: 120px;
    background: #222;
}


/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */

#main {
    margin-left: 120px;
    padding: 12px 24px!important
}

.capactities {
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.progress-container {
    width: 100%;
    height: 1.5em;
    position: relative;
    background-color: #f1f1f1
}

.progressbar {
    background-color: #757575;
    height: 100%;
    position: absolute;
    line-height: inherit
}

.half, .quarter {
    float: left;
    width: 100%
}

.half, .quarter {
    width: 99.99999%
}

.half {
    padding: 0 8px
}

.section {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.opacity {
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-backface-visibility: hidden
}
html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

html {
    text-size-adjust: 100%;
}

body {
    margin: 0px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline-width: 0px;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

dfn {
    font-style: italic;
}

mark {
    background: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

figure {
    margin: 1em 40px;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

hr {
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
}

button, input, select, textarea {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
}

optgroup {
    font-weight: bold;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="submit"] {
    -webkit-appearance: button;
}

fieldset {
    border: 1px solid rgb(192, 192, 192);
    margin: 0px 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0px;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0px;
}

hr {
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);
    margin: 20px 0px;
}

img {
    margin-bottom: -5px;
}

a {
    color: inherit;
}

.btn {
    border: none;
    display: inline-block;
    outline: 0px;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none !important;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.188235) 0px 6px 20px 0px;
}

.btn {
    user-select: none;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.btn:disabled * {
    pointer-events: none;
}

.btn-group .btn {
    float: left;
}

.btn-bar .btn {
    box-shadow: none;
    background-color: inherit;
    color: inherit;
    float: left;
}

.btn-bar .btn:hover {
    background-color: rgb(204, 204, 204);
}

ul.ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.ul li {
    padding: 6px 2px 6px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

ul.ul li:last-child {
    border-bottom: none;
}

.navbar {
  display: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a�� {
    display: block;
    padding: 8px 16px;
}

.navbar li .btn, .navbar li .input {
    border: none;
    outline: none;
    width: 100%;
}

.navbar li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
}

.navbar a, .sidenav a {
    text-decoration: none !important;
}

.navbar .opennav.right {
    float: right !important;
}

� {
    color: inherit;
}

.btn�, �, .navbar a, .sidenav a, .closenav, [class*="hover-"] {
    transition: background-color 0.25s, color 0.15s, box-shadow 0.15s, opacity 0.25s, filter 0.25s, border 0.15s;
}

.sidenav {
    height: 100%;
    width: 200px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    overflow: auto;
    position: fixed !important;
}

.sidenav a {
    padding: 4px 2px 4px 16px;
}

.sidenav a:hover {
    background-color: rgb(204, 204, 204);
}

.sidenav a {
    display: block;
}

.sidenav .dropdown-hover .dropdown-content {
    min-width: 100%;
}

#main {
    transition: margin-left 0.4s;
}

.input {
    padding: 8px;
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(128, 128, 128);
    width: 100%;
}

.input:not(:valid)~.validate {
    color: rgb(244, 67, 54);
}

.container::after, .row::after, .row-padding::after {
    content: "";
    display: table;
    clear: both;
}

.content {
    max-width: 980px;
    margin: auto;
}

.top, .top {
    top: 0px;
}

.small {
    font-size: 12px !important;
}

.medium {
    font-size: 15px !important;
}

.xlarge {
    font-size: 24px !important;
}

.xxlarge {
    font-size: 36px !important;
}

.justify {
    text-align: justify !important;
}

.center {
    text-align: center !important;
}

.margin-bottom {
    margin-bottom: 16px !important;
}

.margin-right {
    margin-right: 16px !important;
}

.padding-large {
    padding: 12px 24px !important;
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.row-padding, .row-padding>.half {
    padding: 0px 8px;
}

.container {
    padding: 0.01em 16px;
}

.hover-opacity-off:hover {
    opacity: 1;
    backface-visibility: hidden;
}

.white {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
}

.hover-grey:hover {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(158, 158, 158) !important;
}

.hover-text-green:hover {
    color: rgb(76, 175, 80) !important;
}

.hover-text-indigo:hover {
    color: rgb(63, 81, 181) !important;
}

.hover-text-purple:hover {
    color: rgb(156, 39, 176) !important;
}

.hover-text-red:hover {
    color: rgb(244, 67, 54) !important;
}

.hover-text-yellow:hover {
    color: rgb(210, 190, 14) !important;
}

.text-white {
    color: white !important;
}

.text-grey {
    color: rgb(117, 117, 117) !important;
}

#NavPC {
    opacity: 0.9;
}
#myNavBar {
  display: none;
}
.lightgrey {
    color: rgb(241, 241, 241) !important;
}

.light-grey {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(241, 241, 241) !important;
}

.dark-grey {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(97, 97, 97) !important;
}

.imgWrap {
    height: 258px;
    position: relative;
    margin: 50px 0px;
}

.imgDescription {
    margin: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(29, 116, 154, 0.721569);
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.row-padding img {
    margin-bottom: 12px;
}

.sidenav {
    width: 120px;
    background: rgb(34, 34, 34);
}

#main {
    margin-left: 120px;
    padding: 12px 24px !important;
}

.progress-container {
    width: 100%;
    height: 1.5em;
    position: relative;
    background-color: rgb(241, 241, 241);
}

.progressbar {
    background-color: rgb(117, 117, 117);
    height: 100%;
    position: absolute;
    line-height: inherit;
}

.half, .quarter {
    float: left;
    width: 100%;
}

.half, .quarter {
    width: 100%;
}

.half {
    padding: 0px 8px;
}

.section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.opacity {
    opacity: 0.6;
    backface-visibility: hidden;
}

@media only screen and (min-width:601px) {
    .quarter {
        width: 24.99999%
    }
    .half {
        width: 49.99999%
    }


}

@media only screen and (min-width:993px) {
    .quarter {
        width: 24.99999%
    }
    .half {
        width: 49.99999%
    }
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 700px) {

    #computerlogo {
      width: 350px;
    }
    #NavPC {
      display: none!important ;
    }
    .navbar {
      display: flex;
    }
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0!important;
    }
    #computerlogo {
      width: 300px;
    }
}
